@media (min-width: 980px) {
  * {
    margin: 0%;
    padding: 0%;
    font-family: "Mulish", sans-serif;
  }

  .main-div {
    background-color: rgb(240, 235, 235);
  }

  .image img {
    width: 36%;
    height: 656px;
  }

  .nav-div img {
    position: absolute;
    top: 1px;
    width: 80px;
    margin: 20px;
  }

  .nav-div {
    display: flex;
    position: absolute;
    top: 20px;
    left: 140px;
  }

  .nav-div ul {
    display: flex;
  }

  .nav-div img {
    margin-left: -100px;
  }

  .nav-div ul li {
    margin: 20px;
    list-style: none;
    color: rgb(163, 151, 151);
    margin-top: 10px;
  }

  .nav-div ul .home {
    color: black;
  }

  .nav-div ul h1 {
    border-bottom: 1px solid black;
    width: 300px;
    margin-bottom: 40px;
    margin-left: 330px;
  }

  .creativity {
    display: flex;
    position: absolute;
    top: 90px;
    left: 40%;
  }

  .creativity .heading .create {
    font-size: 100px;
    -webkit-text-stroke-color: rgb(15, 15, 15);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(240, 235, 235);

    font-family: "Lato", sans-serif;
  }

  .creativity .heading .vity {
    position: relative;
    left: 30%;
    top: -10%;
    font-size: 110px;

    -webkit-text-stroke-color: rgb(48, 46, 46);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(51, 49, 49);
    font-family: "Lato", sans-serif;
  }

  .creativity .btn {
    width: 240px;
    height: 46px;
    background-color: rgb(48, 46, 46);
    border: none;
    color: white;
    position: relative;
    top: 240px;
    left: 30px;
    font-weight: 600;
    font-size: 15px;
  }

  .creativity .para {
    position: relative;
    top: 150px;
    left: 170px;
    color: rgb(155, 150, 150);
    font-size: 24px;
  }

  .creativity .icon i {
    display: block;
    font-size: 20px;
    margin: 25px;
    margin-top: 20px;
    color: rgb(36, 35, 35);
  }

  .last-div .list ul {
    position: absolute;
    top: 54%;
    left: 40%;
  }

  .last-div .list ul li {
    margin: 22px;
    font-size: 20px;
    color: rgb(117, 112, 112);
  }

  .last-div .list ul .first-li {
    color: black;
  }

  .right-div img {
    width: 360px;
    height: 177px;
  }

  .right-div {
    position: absolute;
    top: 57%;
    left: 60%;
  }

  .right-div i {
    font-size: 40px;
    margin: 2px;
  }

  .right-div h4 {
    font-size: 18px;
    margin: 7px;
  }

  .arrow i {
    position: absolute;
    top: 80%;
    left: 93%;
    font-size: 70px;
    color: rgb(77, 74, 74);
  }

  .bar {
    display: none;
  }
}

/* media query */

@media (max-width: 970px) {
  * {
    margin: 0%;
    padding: 0%;
  }

  .nav-ul {
    display: none;
  }

  .image img {
    width: 100%;
  }

  .nav-div img {
    position: absolute;
    top: 1px;
    width: 80px;
    margin: 20px;
  }

  .bar {
    position: absolute;
    top: 20px;
    left: 90%;
    font-size: 20px;
  }

  .creativity .heading .create {
    font-size: 60px;
    -webkit-text-stroke-color: rgb(15, 15, 15);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(240, 235, 235);

    font-family: "Lato", sans-serif;
    margin-left: 2%;
  }

  .creativity .heading .vity {
    margin-left: 25%;
    font-size: 60px;

    -webkit-text-stroke-color: rgb(48, 46, 46);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(51, 49, 49);
    font-family: "Lato", sans-serif;
  }

  .creativity h4 {
    text-align: center;
    color: rgb(160, 154, 154);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }

  .creativity .btn {
    margin-left: 13%;
    width: 200px;
    height: 46px;
    background-color: rgb(48, 46, 46);
    border: none;
    color: white;

    font-weight: 600;
    font-size: 15px;
  }

  .icon {
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  .icon i {
    margin-inline: 20px;
    font-size: 30px;
  }

  .list ul {
    margin: 20px;
    list-style: none;
    color: gray;
    border-left: 2px solid gray;
  }

  .list ul li {
    margin: 20px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
  }

  .list ul li a {
    border-bottom: 3px solid black;
  }

  .last-div {
    text-align: center;
  }

  .last-div img {
    width: 100%;
  }

  .right-div h4 {
    font-family: "Lato", sans-serif;
    font-size: 19px;
    margin: 20px;
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  .creativity .heading .create {
    font-size: 60px;
    -webkit-text-stroke-color: rgb(15, 15, 15);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(240, 235, 235);

    font-family: "Lato", sans-serif;
    margin-left: 20%;
  }

  .creativity .heading .vity {
    margin-left: 35%;
    font-size: 60px;

    -webkit-text-stroke-color: rgb(48, 46, 46);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(51, 49, 49);
    font-family: "Lato", sans-serif;
  }

  .creativity .btn {
    margin-left: 33%;
    width: 200px;
    height: 46px;
    background-color: rgb(48, 46, 46);
    border: none;
    color: white;
    margin-top: 30px;
    font-weight: 600;
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width: 970px) {
  .creativity .heading .create {
    font-size: 60px;
    -webkit-text-stroke-color: rgb(15, 15, 15);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(240, 235, 235);

    font-family: "Lato", sans-serif;
    margin-left: 32%;
  }

  .creativity .heading .vity {
    margin-left: 40%;
    font-size: 60px;

    -webkit-text-stroke-color: rgb(48, 46, 46);
    -webkit-text-stroke-width: calc(75px / 109);
    -webkit-background-clip: text;
    color: rgb(51, 49, 49);
    font-family: "Lato", sans-serif;
  }

  .creativity .btn {
    margin-left: 43%;
    width: 200px;
    height: 46px;
    background-color: rgb(48, 46, 46);
    border: none;
    color: white;
    margin-top: 30px;
    font-weight: 600;
    font-size: 15px;
  }
}
